<% member_objects = @document_fedora.members(:response_format=>:solr) -%>
<% if !member_objects.hits.empty? -%>
  <div class="sets members sidebar-section<%= " first" if (!@document_fedora.respond_to?(:sets) or @document_fedora.sets(:response_format=>:solr).hits.empty?) %>">
    <h2 class="sidebar-title">In this Collection:</h2>
    <ul>
      <%- sort_by_display_name(member_objects.hits).each do |result| -%>
        <%- member_title = ((result[solr_name("title", :display)] and result[solr_name("title", :display)][0]))-%>
        <li><%= link_to (member_title || result["id"]), catalog_path(:id=>result["id"]) %></li>
			<%- end -%>
		</ul>		
		<% if controller.action_name == "edit" && editor? %>
		  <a class="edit-relationships" href="edit_members">Edit Relationships &#x2192;</a>
		<% end %>
	</div>	
<%- elsif controller.action_name == "edit" && editor? -%>
  <div class="sets members sidebar-section<%= " first" if (!@document_fedora.respond_to?(:sets) or @document_fedora.sets(:response_format=>:solr).hits.empty?) %>">
    <a class="edit-relationships" href="edit_members">Edit Relationships &#x2192;</a>
  </div>
<% end -%>
