<% set_objects = (@document_fedora.respond_to? :sets)? @document_fedora.sets(:response_format=>:solr) : nil -%>
<% coll_objects = (@document_fedora.respond_to? :collections)? @document_fedora.collections(:response_format=>:solr) : nil -%>
<% containers = (@document_fedora.respond_to? :containers)? @document_fedora.containers(:response_format=>:solr) : nil -%>
<% unless set_objects.nil? && coll_objects.nil? && containers.nil?-%>
  <div class="sets member-of first sidebar-section">
    <h2 class="sidebar-title">Member of:</h2>
    <ul>
	  <% unless set_objects.nil? %>
        <% set_objects.each do |result| -%>
          <li><%= link_to result["title_display"], catalog_path(:id=>result["id"]) || result["id"] %></li>
  		<% end -%>
	  <% end -%>
	  <% unless coll_objects.nil? %>
        <% coll_objects.each do |result| -%>
          <li><%= link_to result["title_display"], catalog_path(:id=>result["id"]) || result["id"] %></li>
        <% end -%>
      <% end -%>
      <% unless containers.nil? %>
        <% containers.each do |result| -%>
          <%- member_title = ((result["title_display"]))-%>
          <li><%= link_to (member_title || result["id"]), catalog_path(:id=>result["id"]) %></li>
        <% end -%>
      <% end -%>
  	</ul>		
  </div>
<% end -%>