<div id="select-item-box">
  <a class="add-new-asset" href="#">Add a New Asset</a>
  <ul id="select-item-list">
    <li><span class="disabled">Add a Collection</span></li>
    <li>
      <%= link_to 'Add a Set', new_hydra_asset_path(:content_type=>'bag_aggregator') %>
    </li>
    <li>
      <%= link_to 'Add an Item', new_hydra_asset_path(:content_type=>'content_aggregator') %>
    </li>
    <li>
      <%= link_to 'Add an Image', new_hydra_asset_path(:content_type=>'static_image_aggregator') %>
    </li>
  </ul>
</div>
