<div id="select-item-box">
  <a class="add-new-asset" href="#">Add a New Asset</a>
  <ul id="select-item-list">
    <li><span class="disabled">Add a Collection</span></li>
    <li>
      <%= link_to 'Add a Set', new_asset_path(:content_type=>'hypatia_set') %>
    </li>
    <li>
      <%= link_to 'Add a File Item', new_asset_path(:content_type=>'hypatia_ftk_item') %>
    </li>
    <li>
      <%= link_to 'Add a Disk Image Item', new_asset_path(:content_type=>'hypatia_disk_image_item') %>
    </li>
  </ul>
</div>
